CI_ENVIRONMENT = development
app.baseURL = 'http://localhost:8080/'
database.default.hostname = localhost
database.default.database = ecommerce
database.default.username = root
database.default.password =
database.default.DBDriver = MySQLi
database.default.port = 3306
email.protocol = smtp
email.SMTPHost = smtp.mailtrap.io
email.SMTPUser = YOUR_SMTP_USER
email.SMTPPass = YOUR_SMTP_PASSWORD
email.SMTPPort = 587
email.SMTPCrypto = tls
email.fromEmail = hello@example.com
email.fromName = Serein
RAZORPAY_KEY_ID = rzp_test_replace_me
RAZORPAY_KEY_SECRET = replace_me
